<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RSVP</title>
  </head>
  <body>
    <h1>Definite Spookers</h1>
    {% for guest in guests %} {% if guest.rsvp == True %}
    <h2>{{guest.name}}</h2>
    {% endif %} {% endfor %}
    <h1>Possible Spookers</h1>
    {% for guest in guests %} {% if guest.rsvp == False %}
    <h2>{{guest.name}}</h2>
    {% endif %} {% endfor %}
  </body>
</html>
